<div style= "background: #3778c2; color: white">
  <div class="d-flex align-items-center p-2 " >
    <%= link_to(:back) do %>
      <span class="justify-self-start d-flex"><i class="fa fa-arrow-left" style="color: white; font-size: 1.5rem"></i></span>
    <% end %>
    <p class="col-4 m-auto pt-2" style="color: white">TRANACTION</p>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href=<%= categories_path %> >Categories</a>
          </li>
          <li>
            <div>
              <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <p class="text-center" style="text-emphasis-style: dot; text-emphasis-position: under left">Most Recent</p>
</div>
<% @categories.each do |category| %>
    <%= link_to category_path(category[:id] ), class:"text-decoration-none" do %>
    <div class="d-flex flex-row align-items-center bg-white justify-content-between p-4 m-3 ">
      <img src="<%= category.icon_url(request.base_url) %>" alt="Image"  style="max-width:5%;">
      <h4 class="text-muted fs-4 bg-white"><%= category.Name %></h2>
      <p class="bg-white m-0">Total amount: <%= number_to_currency(category.deals.sum(:amount)) %></p>
      </div>
    <% end %>
<% end %>
<div class="fixed-bottom ">
  <%= link_to "ADD A NEW CATEGORY", new_category_path, class: "btn btn-success w-100 p-3" %>
</div>
