<%= form_with model: @category,multipart: true, url: categories_path do |f| %>
  <div class="d-flex flex-container justify-content-between align-items-center p-2 " style= "background: #3778c2;">
    <%= link_to categories_path do %>
      <i class="fa fa-arrow-left" style="color: white; font-size: 1.5rem"></i>
    <% end %>
    <p class="p-3 m-auto" style="color: white">Create New Category</p>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href=<%= categories_path %> >Categories</a>
          </li>
          <li>
            <div>
              <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="form-row m-2 p-2">
    <div class="mt-2">
      <%= f.text_field :Name, autofocus: true, autocomplete: "Name", placeholder:"Name", class:"form-control" %>
    </div>
    <div class="col">
      <%= f.label :icon %>
      <%= f.file_field :icon, id: :category_icon, placeholder:"Upload an Icon", class:"form-control" %>
    </div>
    <%= f.submit "Save" %>
  </div>  
    
  <% end %>
